.lead__title {
  margin: 0 auto 32px;
  font-size: 96px;
  line-height: 93px;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 64px;
    line-height: 1.1;
  }
}

@media (max-width: 500px) {
  .lead__title {
    font-size: 48px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}