.lead__title {
  margin: 0 auto 32px;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .lead__title {
    max-width: 450px;
    font-size: 62px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 540px) {
  .lead__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}