.cover__title {
  max-width: 560px;
  margin: 0 auto;
  padding-bottom: 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width:540px) {
  .cover__title {
    max-width: 253px;
    max-height: 70px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}