.place__url-heading {
  color: #AAA;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 540px) {
  .place__url-heading {
    display: none;
  }
}
