.footer__list-item {
  display: inline-block;
  margin-right: 18px;
}

.footer__list-item:last-child {
  margin-right: 0;
}

@media (max-width: 540px) {
  .footer__list-item {
    display: block;
    margin-bottom: 32px;
  }
}