.footer__list-item {
  margin-right: 18px;
}

.footer__list-item:last-child {
  margin-right: 0;
}

@media (max-width: 540px) {
  .footer__list-item {
    margin-bottom: 32px;
  }

  .footer__list-item:last-child {
    margin: 0;
  }
}